{% extends 'base.html' %} {% block title %}Welcome{% endblock title %} 

{% block content %}

<div class="row-sm p-sm-5">
    <div class="col-sm-12 p-sm-5">
        <h2> About Us</h2>
        <p>
            <h1><center>Cultivating Solutions Through Innovation</center></h1>
            <p>At GrowGuardian, we transcend human limitations using machine learning and deep learning. Our work extends far beyond agriculture, impacting domains like sports, trade, and business. Through our website, we aim to be the catalyst for positive change, revolutionizing how we perceive and address complex challenges.</p>

               <h2><center><i><b> Planting Seeds of Progress, Growing Solutions for Tomorrow.</b></i></center></h2>
                
            <p> Join us in this journey as we bridge the gap between technology and agriculture, planting seeds of progress and cultivating solutions for a resilient and sustainable tomorrow.</p>
    
    </div>  
</div>


{% endblock content %}